@charset "UTF-8";



.title {
	text-align: center;
	font-size: 3.5rem;
	font-weight: bold;
	color:white;
}

.subtitle {
	text-align: center;
	font-size: 1.25rem;
	font-weight: 300;
	color:white;
}

.main {
 	
 	background-size: 1300px 800px;
	width: 1300px;
	height:800px;
	margin: 0 auto;
	margin-top: 30px;
	
}


.main-img{
	height:850px;
	width:90%;
	
}
